{% extends 'base/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}


{% block css %}
<!-- Custom styles for this template -->
<link href="{% static 'assets/css/signin.css' %}" rel="stylesheet">
{% endblock css %}

{% block navbar %}{% endblock navbar %}

{% block main %}

<main class="form-signin text-center">
    <div class="mb-3 pb-3">
        <h3>NFDEV Invoice</h3>
        <h4>- Free online invoices -</h4>
    </div>

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <form action="#" method="POST">
        {% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger">
                        {{message}}
                    </div>
                {% else %}
                    <div class="alert alert-{{message.tags}}">
                        {{message}}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

            <div class="form-floating">
                {{ form.username }}
                <label for="floatingInput">Username*</label>
            </div>
            <div class="form-floating">
                {{ form.password }}
                <label for="floatingPassword">Password*</label>
            </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2024 nunofernandes-dev.com</p>
    </form>
</main>
{% endblock main %}
